<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel=stylesheet type=text/css href="/static/css/shared.css">
  <link rel=stylesheet type=text/css href="/static/css/slider.css">
  <link rel=stylesheet type=text/css href="/static/css/range.css">
  <link rel="stylesheet" href="/static/vendor/bootswatch-slate/css/bootstrap-slate.min.css">
  <link rel=stylesheet type=text/css href="/static/css/xDrDarkDoc/theme.css">
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css">
  <link rel="stylesheet" href="/static/vendor/dropzone/css/basic.min.css" />
  <link rel="stylesheet" href="/static/vendor/dropzone/css/dropzone.min.css" />
  <script src="/static/vendor/socketio/js/socket.io.js"></script>
  <script src="/static/vendor/jquery/js/jquery-3.5.1.min.js"></script>
  <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>
  <script src="/static/vendor/easymde/js/easymde.min.js"></script>
  
  <script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>

  
  {% block head %}
  
  {% endblock %}
  
</head>

<body>
<!---  <img src="/static/img/gitlab.png" alt="Prosmile2" class="livesidenavPic">  -->
                                             
   <!-- Carousel Code from w3 schools -->
 <div id="Pro_carousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">

  <!-- The slideshow -->
  <div class="carousel-inner index-streams-container-bg pro-carousel">
    <div class="carousel-item active">
      <center><a href="https://discord.gg/"><img class="pro-carousel-item" src="/static/img/Discord-Logo-White.png" alt="Join us on Discord"  title="Join us"></a></center>
    </div>

    {% for stream in sideBarStreamList %}
    <div class="carousel-item .icon-next">
      <center><a href="/view/{{stream.channelLoc}}"><img class="shadow gif lazy pro-carousel-item" {% if stream.protected and sysSettings.protectionEnabled %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/stream-thumb/{{stream.channelLoc}}.png" </center>
      <div class="carousel-caption d-none d-md-block">
        <center><h4 style="background-color:rgba(0,0,0,0.5);width: 50%;">{{stream.streamName|limit_title}}</h4></center>
      </div>
    </a>
    </div>

    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#Pro_carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#Pro_carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

    </body>
    
    
    </html>
